--- init/Kconfig	2011-05-17 17:00:58.985449874 +1000
+++ init/Kconfig	2011-05-17 17:01:14.592115760 +1000
@@ -561,7 +574,7 @@
 
 menuconfig CGROUP_SCHED
 	bool "Group CPU scheduler"
-	depends on EXPERIMENTAL && CGROUPS
+	depends on EXPERIMENTAL && CGROUPS && !SCHED_BFS
 	default n
 	help
 	  This feature lets CPU scheduler recognize task groups and control CPU
